@charset "UTF-8";

/* Général ------------------------------------------------------------------------------------- */
body {
	background-color: lightblue;
}

h1 {
	text-align : center;
	color : white;
}

/* Forms --------------------------------------------------------------------------------------- */


/* Styles et couleurs -------------------------------------------------------------------------- */


/* Tableaux ------------------------------------------------------------------------------------ */
