<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Games Corner</title>
	<!-- Import de la feuille de style CSS -->
	<h:outputStylesheet library="default" name="css/style.css" />
</h:head>
<h:body>
	
	<!-- 	<p:button outcome="productDetail" value="Bookmark" icon="pi pi-star" -->
	<!-- 		style="margin-right:20px;"> -->
	<!-- 		<f:param name="productId" value="10" /> -->
	<!-- 	</p:button> -->
	<h:h1>Hello</h:h1>
</h:body>
</html>